@import url('common.css');
@import url('header.css');
@import url('footer.css');

h2 {
	font-family: 'Single Day', sans-serif !important;
	font-weight: normal !important;
	font-size: 32px !important;
	text-align: center !important;
	margin: 40px 0 !important;
}

label {
	font-family: 'Noto Serif', serif;
	font-size: 16px;
}

.indicates-required {
	font-size: 14px !important;
}

.clear.foot p {
	display: none;
}

.button {
	color: white !important;
	text-decoration: none !important;
	font-size: 20px !important;
	font-weight: normal !important;
	background: var(--pink) !important;
	padding: 20px 40px !important;
	border-radius: 5px !important;
	line-height: 30px !important;
	height: auto !important;
	font-family: 'Noto Serif', serif !important;
}

.button:hover {
	outline: 2px solid var(--pink);
	font-size: 22px;
}

.foot {
	display: flex !important;
	justify-content: center;
}

#mc_embed_shell, #mc_embed_signup {
	max-width: 100%;
}

#mc_embed_shell {
	margin-top: 40px;
}
