@import url('common.css');
@import url('header.css');
@import url('footer.css');

main {
}

h1 {
	font-size: 65px;
	padding: 20px;
}

a.button {
	background-color: var(--green);
}

@media (max-width: 500px) {
	h1 {
		font-size: 50px;
	}
}
