:root {
	--white: #ffffff;
	--gray: #a0a0a0;
	--light-gray: #d0d0d0;
	--pink: #ffb1ae;
	--green: #bcc4a7;
	--confirm-green: #33d17a;
}

body {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--gray);
	padding: 20px;
	min-height: calc(100vh - 243px);
}

main a {
	color: var(--gray);
	font-weight: bold;
}

h1, h2 {
	font-family: 'Single Day', sans-serif;
	font-weight: normal;
	font-size: 32px;
	text-align: center;
	margin: 40px 0;
}

p {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	margin: 0 0 30px 0;
	width: 800px;
	max-width: 100%;
	text-align: center;
	line-height: 30px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 540px;
	max-width: 100%;
}

input {
	padding: 8px;
}

.row {
	display: flex;
	flex-direction: row;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.button {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: normal;
	background: var(--pink);
	padding: 20px 40px;
	border-radius: 5px;
	line-height: 30px;
	border: none;
	width: fit-content;
	align-self: center;
}

.button:hover {
	outline: 2px solid var(--pink);
	font-size: 22px;
	cursor: pointer;
}
