header {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: var(--white);
	position: fixed;
	filter: drop-shadow(0 0 10px var(--gray));
	z-index: 2;
}

header::after {
	content: "";
	display: block;
	height: 20px;
	width: 100%;
	background: url(/img/half-circle.svg) 0 0 / 20px repeat-x;
	margin-top: -36px;
}

header .logo {
	display: flex;
	align-items: center;
	grid-gap: 20px;
	width: fit-content;
	height: 80px;
	color: var(--white);
	padding: 24px;
	border-radius: 0 0 5px 0;
	background: var(--pink);
	transition: 0.2s transform ease;
	z-index: 3;
}

header .logo:hover {
	cursor: pointer;
	transform: scale(1.07);
}

header .logo *:hover {
	cursor: pointer;
}

header .logo img {
	height: 70px;
}

header .logo label {
	font-family: 'Noto Serif', serif;
	font-weight: 350;
	font-size: 24px;
	margin-top: 30px;
}

header label {
	font-size: 65px;
}

header #toggle-nav {
	display: none;
	height: 50px;
	padding: 24px;
}

header #toggle-nav:hover {
	cursor: pointer;
}

header nav {
	font-family: 'Single Day', sans-serif;
	font-size: 30px;
	display: flex;
	grid-gap: 20px;
	padding: 20px 40px 20px 20px;
	align-items: center;
	max-height: calc(100vh - 171px);
	overflow: scroll;
	margin-top: -20px;
}

header nav a {
	color: var(--gray);
	text-decoration: none;
	display: flex;
	transition: 0.2s transform ease;
}

header nav a:hover {
	transform: scale(1.15);
}

header nav a img {
	height: 25px;
}

header #cart-indicator {
	display: none;
	position: absolute;
	right: 32px;
	top: 50px;
	color: white;
	padding: 5px;
	line-height: 10px;
	background: var(--pink);
	border-radius: 10px;
	font-size: 16px;
}

header #cart-indicator.show {
	display: unset;
}

header .checkout img {
	margin-top: -5px;
}

@media (max-width: 780px) {
	header {
		align-items: start;
		transition: 0.2s;
		height: 100px;
	}

	header::after {
		margin-top: -28px;
	}

	header.grow {
		height: 500px;
		max-height: calc(100vh - 3px);
	}

	header #toggle-nav {
		display: unset;
	}

	header nav {
		flex-direction: column;
		width: 100%;
		transition: 0.2s;
		overflow: hidden;
		height: 0;
		padding: 0;
		margin-top: 0;
	}

	header.grow nav {
		display: flex;
		height: 333px;
		padding: 20px;
	}

	header.grow::after {
		margin-top: -1px;
	}

	header #cart-indicator {
		top: 10px;
		right: 4px;
	}

	header .checkout {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		aspect-ratio: 1;
		position: fixed;
		top: 140px;
		right: 21px;
		background: white;
		box-shadow: 0 0 5px var(--gray);
		padding: 10px;
		border-radius: 50px;
	}
}
