main {
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: start;
	gap: 20px;
	padding: 80px 20px;
}

[contenteditable="true"] {
	border: 1px solid var(--gray);
	padding: 5px;
}

#current-image {
	width: 600px;
	max-width: 100%;
	aspect-ratio: 1.5;
	background: var(--light-gray);
	border: 1px solid var(--light-gray);
	border-radius: 10px;
}

#images {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#images .row {
	justify-content: center;
	gap: 20px;
}

#update-product {
	display: none;
}

#added-to-cart {
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--confirm-green);
	height: 0px;
	overflow: hidden;
	transition: 0.2s height ease;
}

#added-to-cart.show {
	height: 23px;
}

#added-to-cart img {
	height: 20px;
}

.edit .admin-buttons {
	display: flex;
}

.edit #add-to-cart {
	display: none;
}

.edit #update-product {
	display: unset;
}

.edit .quantity-container {
	display: none;
}

.admin-buttons {
	display: none;
	gap: 20px;
	justify-content: right;
	padding: 10px;
	position: relative;
	margin-top: -80px;
}

.admin-button {
	display: flex;
	padding: 10px;
	background: var(--pink);
	padding: 10px;
	border-radius: 50%;
	outline: 0px solid var(--pink);
	transition: 0.1s outline ease;
}

.admin-button:hover {
	outline: 3px solid var(--pink);
	cursor: pointer;
}

.admin-button img {
	height: 20px;
	aspect-ratio: 1;
}

.info * {
	margin: 0;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 480px;
}

.info .row {
	gap: 20px;
}

.button.out-of-stock {
	pointer-events: none;
	background: white;
	outline: 3px solid var(--gray);
	color: var(--gray);
}

@media (max-width: 1150px) {
	main {
		gap: 60px;
	}
}
